{:paths ["src/main" "src/dev" "src/bb"]
 :deps {com.hyperfiddle/rcf {:mvn/version "20220926-202227"}}
 :tasks
 {:requires ([tasks :as t])
  dev       t/repl
  debug     t/debug
  test      t/run-tests
  kondo     t/kondo}}


