{:paths ["src/v1/main"]

 :deps {aysylu/loom {:mvn/version "1.0.2"}
        meander/epsilon {:mvn/version "0.0.602"}
        medley/medley {:mvn/version "1.3.0"}}

 :aliases {:clj {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}

           :cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.520"}}}

           :dev {:extra-paths ["src/v1/dev" "src/v1/test" "test-resources"]
                 :extra-deps {funcool/promesa {:mvn/version "6.0.0"}
                              manifold/manifold {:mvn/version "0.1.9-alpha4"}
                              manifold-cljs/manifold-cljs {:mvn/version "0.1.7-1"}}}

           :nrepl  {:extra-deps {nrepl/nrepl      {:mvn/version "0.8.2"}}}

           :piggie {:extra-deps {cider/piggieback {:mvn/version "0.5.0"}}}

           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.1.164"}}}

           :test {:extra-paths ["src/v1/test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-541"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-51"}
                               funcool/promesa {:mvn/version "6.0.0"}
                               manifold/manifold {:mvn/version "0.1.9-alpha4"}
                               manifold-cljs/manifold-cljs {:mvn/version "0.1.7-1"}}}}}

